<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">
      <b>registrAPP</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-align-items-center" fullscreen color="light">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 50vh;">
      <ion-col size="12" size-md="6">
        <form (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Nombre de usuario</ion-label>
            <ion-input type="text" [(ngModel)]="user" name="user" required></ion-input>
            <ion-icon slot="end" name="person-circle-outline" color="dark" style="height: 50px; padding: 10px;"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input 
              [type]="showPassword ? 'text' : 'password'" 
              [(ngModel)]="pswd" 
              name="pswd" 
              required>
            </ion-input>
            <ion-icon 
              slot="end" 
              name="{{ showPassword ? 'eye-off' : 'eye' }}" 
              color="dark" 
              style="height: 50px; padding: 10px;" 
              (click)="toggleShowPassword()">
            </ion-icon>
          </ion-item>

          <ion-button expand="block" type="submit" color="success">Iniciar sesión</ion-button>
        </form>
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <ion-button fill="clear" (click)="restablecerContrasena()" color="dark">¿Olvidaste tu contraseña?</ion-button>
          </ion-col>
        </ion-row>

        <ion-alert trigger="present-alert" header="Introduzca su nombre de usuario"></ion-alert>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
