<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button style="visibility: hidden;">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <b>HOME</b>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="userType === 'docente'; else studentContent">
    <ion-card button="true" routerLink="/mis_asignaturas">
      <ion-card-header>
        <ion-card-title>Gestión de Asignaturas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aquí puedes gestionar las asignaturas que dictas.
      </ion-card-content>
    </ion-card>

    <ion-card button="true" routerLink="asistencias">
      <ion-card-header>
        <ion-card-title>Asistencias de Estudiantes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Revisa las asistencias de tus estudiantes aquí.
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #studentContent>
    <ion-card button="true" routerLink="/mis_asignaturas">
      <ion-card-header>
        <ion-card-title>Mis Asignaturas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aquí puedes ver la lista de asignaturas en las que estás inscrito.
      </ion-card-content>
    </ion-card>

    <ion-card button="true" routerLink="asistencias">
      <ion-card-header>
        <ion-card-title>Mis Asistencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Revisa tus asistencias de cada asignatura y su respectiva fecha aquí.
      </ion-card-content>
    </ion-card>

    <ion-card button="true" routerLink="registrar_asistencias">
      <ion-card-header>
        <ion-card-title>Registrar Asistencia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Registra tus asistencias aquí.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-card button="true" routerLink="/cambiar_contrasena">
    <ion-card-header>
      <ion-card-title>Cambiar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ¿Desea cambiar su contraseña? Por aquí...
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="userType === 'docente'">
    <ion-card button="true" routerLink="/clases-dictadas">
      <ion-card-header>
        <ion-card-title>Clases Dictadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Consulta el registro de tus clases dictadas.
      </ion-card-content>
    </ion-card>
  </ng-container>
  
</ion-content>
